body {
    font-family: Arial, Helvetica, sans-serif;
}


.cadastroconfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 960px;
}

.pageconfig {
    margin: auto;
    width: 960px;
}

.title {
    font-size: 48px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    margin-bottom: 50px;
}

.form-login {
    width: 100%;
}

.login {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
}

.subtitle {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}

.buttonconfig {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    width: 150px;
    height: 50px;
}

.button span {
    margin-left: 10px;
    font-size: 14px
}

.logo {
    width: 20px;
    height: 20px;
}

.google {
    background-image: url(../images/google.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook {
    background-image: url(../images/facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.apple {
    background-image: url(../images/apple.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.email {
    width: 100%;
    margin-bottom: 20px;
}

fieldset{
    border:none;
}


.form-input {
    position: relative;
    border: none;
    margin-bottom: 30px;
}

.form-input input {
    border:none;
    border-bottom: 1px solid rgb(141, 141, 141);
    width: 100%;
    height: 40px;
}

.form-doc {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.form-checks {
    display: flex;
    align-items: flex-start;
    position: relative;
    border: none;
    margin-bottom: 30px;
    width: 100%;
}

.form-checks label {
    padding-left: 15px;
}

.form-checks input {
    margin: 2px 0px 0px 0px;
}

.form-doc-config {
    width: 40%;
    padding: 12px 12px 12px 0px;
}

.form-doc-config-t {
    width: 60%;
    padding: 12px;
}

.docs-s {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.docs-t {
    width: 100%;
}

.docs-s select{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(141, 141, 141);
    padding: 15px 15px 15px 0px;
    cursor: pointer;

}

.docs-t input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(141, 141, 141);
    padding: 16px 0px 16px 16px;

}


.entrar {
    display: flex;
    margin: 30px auto;
    padding: 20px 50px;
    justify-content: center;
}

.form-email {
    display: none;
    position: absolute;
    top:-15px;
    font-size: 12px;
}

.form-password {
    display: none;
    position: absolute;
    top:-15px;
    font-size: 12px
}

.textdoc {
    display: none;
    position: absolute;
    top:-3px;
    font-size: 12px
}

.selectdoc {
    top: -3px;
    position: absolute;
    font-size: 12px;
}

.oculto {
    position: absolute;
    right: 10px;
    top: 10px;
}

.form-input-docs {
    display: flex;
}

input:not(:placeholder-shown)+.form-email {
    display: block;
}

input:not(:placeholder-shown)+.form-password {
    display: block;
}

input:not(:placeholder-shown)+.textdoc {
    display: block;
}



.jobtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.job {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    width: 100%;
}

.job-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 50%;
}

.job-input {
    width: 100%;
    padding: 15px;
}

.job-input input {
    border:none;
    border-bottom: 1px solid rgb(141, 141, 141);
    width: 100%;
    max-width: 100%;
    height: 40px;
}

.job-endereço {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 50%;
}

.job-endereço1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 30%;
}

.job-endereço2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 20%;
}

.job-endereço3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 33%;
}

.jobsubtitle {
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%;
}

.jobsubtitle2 {
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%;
}


