* {
    margin: 0px;

}

:root {
    --cor1: #B6DDE4;
    /* azul*/
    --cor2: #F7B153;
    /* laranja */
    --cor3: #B35018;
    /* marrom */
    --cor4: #03356B;
    /* azul escuro */
}

body {
    background-image: url(images/fundodomar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--cor1);
    font-family: "Chewy";
    color: white;
}

/* menu */
.menugeral {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.945);
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: auto;
    position: fixed;
}

.menugeral>div {
    margin-left: auto;
    height: 100%;
    margin-right: auto;
    text-align: center;
    color: black;
    font-size: 35px;
}

.menugerallogo {
    flex-grow: 2;
    padding: 10px 100px 10px 100px;
}

.menugeralitem {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 8;
    padding: 0px 100px 0px 100px
}

.menugeralmenu, .menugeralmenu2,.menugeralmenu3,.menugeralmenu4 {
    margin: auto;
    padding: 86px 20px;
}

.submenu {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08), inset 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.submenu a:hover {
    background-color: rgba(65, 65, 65, 0.322)
}

.menugeralmenu:hover .submenu {
    display: block;
}

.submenuitemsconfig {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
}

.submenuitems {
    display: flex;
    width: 33.3%;
    height: auto;
    cursor: pointer;
}

.submenuitems a {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 22px;
    padding: 20px;
}

.submenuitems img {
    width: 60px;
    height: auto;
}

.submenuitems figure {
    width: 60px;
    height: auto;
    align-items: center;
    padding-right: 10px;
}


.menugeralitem>div>a {
    text-decoration: none;
    color: var(--cor4);
    box-sizing: border-box;
    cursor: pointer;
}

/* menu */

/* alinhamento */

main {
    padding-top: 207px;
}

/* alinhamento */

/* nav */

.guiaconfig {
    padding: 30px 0px;
    font-size: 22px;
    width: 100%;
}

.guiaconfig a {
    color: black;
}

/* nav /*

/* cardapio */

.cardapio {
    padding: 0 10%;
}

.cardapio-title h1 {
    color: black;
    font-size: 60px;
    padding: 50px 0px;
    width: 100%;
    height: auto;
}

.opções {
    margin: 0px 15px;
}

.opções-config {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.opções-config>div {
    width: 240px;
    padding: 15px;
}

.opções-config>div img {
    width: 300px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.opções-config>div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/* cardapio */


/* Produtos */

.produtos {
    display: flex;
    align-items: flex-start;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.produtos h1 {
    width: 100%;
    font-size: 80px;
    padding-top: 50px;
}

.produtos p {
    font-size: 30px
}

.produtos-descriçao div {
    padding: 25px 0;
}

.produtos-cel {
    display: none;
}

.informaçao-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.911);
    background-color: white;
    padding: 0 10%;
    font-family: arial;
}

.informaçao-produto h1 {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    font-size: 36px;
    padding: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid rgb(141, 141, 141);
}

/* input */

.nutri {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(141, 141, 141);
    width: 100%;
}

.menu-nutri {
    display: none;
}

.menu-nutri-menu {
    display: flex;
    font-size: 32px;
    align-self: center;
    width: 100%;
    cursor: pointer;
    padding: 30px 0;
}

.menu-nutri-menu a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-nutri-info {
    display: none;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.menu-nutri:checked~.menu-nutri-info {
    display: block;
}

.alerg {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(141, 141, 141);
    width: 100%;
}

.menu-alerg {
    display: none;
}

.menu-alerg-menu {
    display: flex;
    font-size: 32px;
    width: 100%;
    cursor: pointer;
    padding: 30px 0px;
}

.menu-alerg-menu a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.menu-alerg-info {
    display: none;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px 0;
}

.menu-alerg:checked+.menu-alerg-menu+.menu-alerg-info {
    display: block
}

/* input */

/* tabelas */

.table-summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.table-summary-item {
    padding: 0 25px;
}

.table-summary-item h3 {
    display: flex;
    font-size: 38px;
    font-weight: 500;
    padding-bottom: 5px;
    justify-content: center;
}

.table-summary-item p {
    display: flex;
    font-size: 14px;
    font-weight: 200;
    justify-content: center;
}

.table-row-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px dotted rgb(141, 141, 141);
    padding: 10px;
    font-weight: 900;
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px dotted rgb(141, 141, 141);
    padding: 10px;
}

.table-column-1 {
    width: 50%;
    align-items: flex-start;

}

.table-column-2 {
    width: 25%;
    align-items: flex-start;

}

.table-column-3 {
    display: flex;
    width: 25%;
    align-items: flex-end;
    justify-content: flex-end;
}

.legenda {
    white-space: pre-line;
    margin: auto;
    padding: 25px 0;
}

.menu-alerg-info h3 {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 25px;
    justify-content: center;
    border-bottom: 1px dotted rgb(141, 141, 141);
}

.table-alerg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-alerg-item {
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px dotted rgb(141, 141, 141);
    background-color: rgb(228, 226, 226);
}

.table-alerg-item img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

/* tabelas */

/* Produtos */

/* banners */

.banners div {
    width: 100%;
    height: auto;
    background-color: var(--cor2);
}

.banners img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* banners */

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: var(--cor2);
    padding: 20px 20px 60px 20px;
    color: black;
}

.footer>div {
    margin: 30px;

}

.footer a {
    color: black;
    text-decoration: none;
}

dt {
    font-weight: bold;
    padding-bottom: 15px;
}

dd {
    text-align: left;
    margin: 0px;
    padding: 4px;
    padding-left: 0px;
}

/* footer */

/* menu media */

.menugeralmedia {
    background-color: var(--cor3);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: none;
}

.menugeralmedialist {
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0px;
    max-width: 100%;
}

.menugeralmedia li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 0px 10px 0px 10px;
}

.menugeralmedia a {
    text-decoration: none;
    color: black;
}

.menugeralmedia600 {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.menugeralmedia600 div {
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* menu media */