* {
    margin: 0px;

}

:root {
    --cor1: #B6DDE4;
    /* azul*/
    --cor2: #F7B153;
    /* laranja */
    --cor3: #B35018;
    /* marrom */
    --cor4: #03356B;
    /* azul escuro */
}

body {
    background-image: url(images/fundodomar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--cor1);
    font-family: "Chewy";
    color: white;
}

/* menu */
.menugeral {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.945);
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: auto;
    position: fixed;
}

.menugeral>div {
    margin-left: auto;
    height: 100%;
    margin-right: auto;
    text-align: center;
    color: black;
    font-size: 35px;
}

.menugerallogo {
    flex-grow: 2;
    padding: 10px 100px 10px 100px;
}

.menugeralitem {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 8;
    padding: 0px 100px 0px 100px
}

.menugeralmenu {
    margin: auto;
    padding: 86px 20px;
}

.menugeralmenu2 {
    margin: auto;
    padding: 86px 20px;
}

.menugeralmenu3 {
    margin: auto;
    padding: 86px 20px;
}

.submenu {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08), inset 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.submenu a:hover {
    background-color: rgba(65, 65, 65, 0.322)
}

.menugeralmenu:hover .submenu {
    display: block;
}

.submenuitemsconfig {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10%;
}

.submenuitems {
    display: flex;
    width: 33.3%;
    height: auto;
    cursor: pointer;
}

.submenuitems a {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 22px;
    padding: 20px;
}

.submenuitems img {
    width: 60px;
    height: auto;
}

.submenuitems figure {
    width: 60px;
    height: auto;
    align-items: center;
    padding-right: 10px;
}


.menugeralitem>div>a {
    text-decoration: none;
    color: var(--cor4);
    box-sizing: border-box;
    cursor: pointer;
}

/* menu */

/* alinhamento */

main {
    padding-top: 207px;
}

/* alinhamento */

/* nav */

.guiaconfig {
    padding: 30px 0px;
    font-size: 22px;
    width: 100%;
}

.guiaconfig a {
    color: black;
}

/* nav /*

/* cardapio */

.cardapio {
    padding: 0 10%;
}

.cardapio-title h1 {
    color: black;
    font-size: 60px;
    padding: 50px 0px;
    width: 100%;
    height: auto;
}

.opções {
    margin: 0px 15px;
}

.opções-config {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.opções-config>div {
    width: 240px;
    padding: 15px;
}

.opções-config>div img {
    width: 300px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.opções-config>div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/* cardapio */


/* Produtos */

.produtos {
    display: flex;
    align-items: flex-start;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.produtos h1 {
    width: 100%;
    font-size: 80px;
    padding-top: 50px;
}

.produtos p {
    font-size: 30px
}

.produtos-descriçao div {
    padding: 25px 0;
}

.produtos-cel {
    display: none;
}

.informaçao-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.911);
    background-color: white;
    padding: 0 10%;
}

.informaçao-produto h1 {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    font-size: 36px;
    padding: 20px;
    margin-top: 30px
}
/* input */
.menu-nutri {
    display: none;
}

.menu-nutri-menu {
    font-size: 40px;
    align-self: center;
    width: 100%;
    cursor: pointer;
}

.menu-nutri-info {
    display: none;
}

.menu-nutri:checked + .menu-nutri-menu + .menu-nutri-info {
    display: block
}
/* input */

/* Produtos */

/* banners */

.banners div {
    width: 100%;
    height: auto;
    background-color: var(--cor2);
}

.banners img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* banners */

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: var(--cor2);
    padding: 20px 20px 60px 20px;
    color: black;
}

.footer>div {
    margin: 30px;

}

.footer a {
    color: black;
    text-decoration: none;
}

dt {
    font-weight: bold;
    padding-bottom: 15px;
}

dd {
    text-align: left;
    margin: 0px;
    padding: 4px;
    padding-left: 0px;
}

/* footer */

/* menu media */

.menugeralmedia {
    background-color: var(--cor3);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    display: none;
}

.menugeralmedialist {
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0px;
    max-width: 100%;
}

.menugeralmedia li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 0px 10px 0px 10px;
}

.menugeralmedia a {
    text-decoration: none;
    color: black;
}

.menugeralmedia600 {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.menugeralmedia600 div {
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* menu media */

@media (max-width:960px) {
    main {
        padding-top: 225px;
    }

    /* menu */

    .menugeral {
        flex-direction: column;
        position: fixed;
        align-items: center;
    }

    .menugeral>div {
        margin: auto;
        padding: 0;
    }

    .menugeralitem>div {
        padding: 0px 10px 0px 10px;
        width: 180px;
        height: 46px;
    }

    /* menu */

    /* produtos */

    .produtos {
        display: none;
    }

    .produtos-cel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 30px;
    }

    .produtos-cel div{
        margin: 15px;
    }

    .produtos-cel h1 {
        font-size: 80px;
    }

    .produtos-cel img {
        width:100%;
        height: auto;
    }


    /* produtos */


    /* footer */
    .footer {
        display: flex;
        flex-wrap: wrap;
    }

    /* footer */
}

@media (max-width:768px) {

    .categorias-listas a {
        display: flex;
        flex-direction: column;
    }

    .categorias-listas-img {
        margin: auto;
    }

    .opções-config>div img {
        width: 200px;
    }
}

@media (max-width:600px) {
    .menugeral {
        display: none;
    }

    .menugeralmedia600 {
        display: flex;
    }

    main {
        padding-top: 0px;
    }

    nav {
        padding-top: 0px;
    }

    .opções-config>div img {
        width: 120px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .opções-config>div a {
        font-size: 20px;
    }

    .opções-config>div {
        width: 120px;
    }

    .menugerallogo {
        flex-direction: flex-start;
    }

    .menugeralitem {
        display: none;
    }

    .menugeralmedia {
        display: block;
    }

    .categorias-listas {
        padding: 0px;
        margin: auto;
    }

    .categorias-listas li {
        padding: 10px;
    }

    .categorias-listas-text {
        display: none;
    }

    .categorias-listas-img {
        margin: auto;
    }

    .cardapio-title h1 {
        text-align: center;
    }


}